#----------basic config-------------
#	Funtion Set:
#	save	reload	sync	custom
#-----------------------------------
"defautFunction":"save"
"miniModelDefalt":"no"
"miniModeFunc":"save"

#----------save config--------------
"defaulSavePath":"D:/HFSS Prop/"

#----------mask config--------------
"defaulMask":"{'a': '1mm', 'b': '1mm', 'c': '1mm', 'd': '1mm'}"
